<div class="left_col">
  <h1 class="room-name" id="<%= @room.id %>"><%= @room.name %></h1>

  <div id="record-tracks">
    <button class="button" id="record" onclick="startRecording()" disabled>Record</button>
    <button class="button" id="stop" onclick="stopRecording()" disabled>Stop</button>
  </div>

  <ul id="instrument-list">
    <h3>Select Your Instrument</h3>
    <li><input type="radio" onclick="instrument('piano')">Piano</li>
    <li><input type="radio" onclick="instrument('beats')">Beats</li>
    <li><input type="radio" onclick="instrument('drums')">Drums</li>
  </ul>

  <div id="keyboard"></div>
  <div id="sounds"></div>
  <div id="playbacks"></div>
</div>

<div class="right_col">
  <div id="contributors">
    <h3>Contributors</h3>
    <ul id="user-contributors">
    </ul>
  </div>

  <div id="tracks" class="clear">
    <h3>Tracks</h3>
    <ul id="room-tracks">
    </ul>
  </div>
</div>

<%= javascript_tag do %>
  getTracks(<%= @room.id.to_json %>);
  setInterval(getTracks, 10000, <%= @room.id.to_json %>);
<% end %>

