<!DOCTYPE html>
<html>
<head>
  <title>Group.pRov</title>
  <link rel="icon" type="image/png" href="http://inwallspeakers1.com/wp-content/uploads/2014/01/Headphones-Icon-Vector.png">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="fixed_header">
    <div class="header_content">
      <div class="logo">
        <h1><%= link_to "Group.pRov", root_path %></h1>
      </div>
      <ul class="nav">
        <li><i class="fa fa-music"></i><%= link_to "Let's Play", rooms_path %></li>
        <% if signed_in? %>
          <li><i class="fa fa-sign-out"></i><%= link_to "Sign Out", signout_path %></li>
        <% else %>
          <li><i class="fa fa-facebook"></i><%= link_to "Sign In with Facebook", "auth/facebook" %></li>
        <% end %>
        <li><i class="fa fa-money"></i><%= link_to "Donate", "https://www.paypal.com/home", target: "_blank" %></li>
      </ul>
    </div>
  </div>

  <div class="wrap">
    <h3><%= flash[:notice] %></h3>
    <%= yield %>
  </div>

</body>
</html>
